#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}
#root {
  https://fonts.google.com/specimen/Pacifico?preview.size=50
}
#bg-image {
  https://www.toptal.com/designers/subtlepatterns/cork-board-pattern/
}